@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Mulish", sans-serif;
}

/* navbar styles */
.nav-container{
    width: 80%;
    margin: 3rem auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.logo h3{
    font-size: 27px;
    font-weight: 900;
}

.color-orenge{
    color: #e7512b;
}

.nav-options{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-options a{
    text-decoration: none;
    color: #a0a0a3;
    font-weight: 700;
}

.ham-burger{
    display: none;
}


/* banner styles */
.explore-container{
    width: 80%;
    margin: 3rem auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    padding: 6rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
   

}

.explore h1{
    color: #ffffff;
    font-size: 50px;
     
 }

.explore p{
   color: #ffffff;
   font-size: 15px;
   padding-top: 30px;
   padding-bottom: 40px;
}

.travel-inputs{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline;
    padding: .8rem;
    border-radius: 5px;
    margin-top: 20px;
}

.travel-inputs select, button{
    margin-left: 15px;
}

.travel-inputs input, select, button{
    width: 110px;
    padding: 5px 8px;
    border-radius: 3px;
    border: none;
    outline: none;
}
.travel-inputs button{
    background-color: #e7512b;
    color: #ffffff;
    
   
}

